<footer class="footer-shadow container-fluid mt-5" style="background-color: #f4ebdf;">
    <div class="row text-center text-md-start">
        <div class="col-md-3">
            <h5><strong>Tổng đài hỗ trợ</strong></h5>
            <p>Hotline: 2001231006</p>
            <p>Mua hàng: 2001230943</p>
            <p>Bảo hành: 2001230989</p>
        </div>
        <div class="col-md-3">
            <h5><strong>Chính sách</strong></h5>
            <p>Đổi trả 7 ngày</p>
            <p>Bảo hành 12 tháng</p>
            <p>Trả góp 0%</p>
        </div>
        <div class="col-md-3">
            <h5><strong>Hệ thống cửa hàng</strong></h5>
            <p>140 Lê Trọng Tấn, Q.Tân Phú</p>
            <p>56 Nguyễn Huệ, Q.1</p>
        </div>
        <div class="col-md-3">
            <h5><strong>Kết nối</strong></h5>
            <i class="fab fa-facebook fa-lg mx-2"></i>
            <i class="fab fa-instagram fa-lg mx-2"></i>
            <i class="fab fa-twitter fa-lg mx-2"></i>
        </div>
    </div>
</footer>

