<!-- header.html -->
<link rel="stylesheet" href="~/Content/styleDA.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<nav class="navbar navbar-expand-lg header">
    <img class="navbar-brand header-img" src="~/Anh/logo/headerlogo.png">
    <div class="input-group ms-5" style="max-width: 380px;">
        <!-- Rút ngắn kích thước thanh tìm kiếm -->
        <input class="form-control search-input" type="search" placeholder="Bạn muốn mua gì hôm nay?" aria-label="Search">
        <button class="input-group-text search-button">
            <!-- Biểu tượng tìm kiếm từ Font Awesome -->
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
    <ul class="navbar-nav ms-auto me-2">
        <li class="nav-item header-item me-4">
            <!-- Điều chỉnh khoảng cách giữa các mục -->
            <span style="font-family: 'Font Awesome 6 Free'; font-weight: 900;">&#xf07a;</span>
            <a class="nav-link" href="#">Giỏ hàng</a>
        </li>
        <li class="nav-item header-item me-4">
            <!-- Điều chỉnh khoảng cách giữa các mục -->
            <span style="font-family: 'Font Awesome 6 Free'; font-weight: 900;">&#xf0ca;</span>
            <a class="nav-link" href="#">Danh mục</a>
        </li>
        <li class="nav-item header-item">
            <span style="font-family: 'Font Awesome 6 Free'; font-weight: 900;">&#xf2bd;</span>
            <a class="nav-link" href="dangnhap.html" id="loginLink">Đăng nhập</a>
        </li>
    </ul>
</nav>
