/* Điều chỉnh kích thước logo */
.header-img {
    max-width: 130px; /* Tăng kích thước logo */
    max-height: 100px; /* Tăng chiều cao logo */
    margin-left: 25px; /* Dịch logo sang bên phải thêm */
}

/* Cải thiện thanh tìm kiếm */
.search-input {
    border-radius: 20px 0 0 20px;
    height: 38px; /* Giảm chiều cao thanh tìm kiếm */
    margin-right: 5px; /* Dịch thanh tìm kiếm sang phải thêm */
}

.search-button {
    border-radius: 0 20px 20px 0;
    height: 38px;
}

/* Điều chỉnh khoảng cách giữa các mục */
.nav-item {
    margin-left: 10px; /* Giảm khoảng cách giữa các mục */
}

/* Điều chỉnh khoảng cách giữa các mục và lề trái */
.navbar-nav {
    margin-left: 0px; /* Dịch các mục qua bên phải thêm nữa */
}

/* Chỉnh sửa khoảng cách giữa các mục */
.header-item {
    background-color: #f4ebdf; /* Màu nền mặc định cho các mục */
    font-weight: 750;
    width: 130px; /* Rút ngắn chiều rộng các mục thêm */
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
}

    /* Mục hover */
    .header-item:hover {
        background-color: #e6c191; /* Màu nền khi hover */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transform: scale(1.06);
    }

    .header-item a {
        color: black; /* Đảm bảo màu chữ luôn là đen */
        text-decoration: none;
    }

        .header-item a:hover {
            color: white; /* Đổi màu chữ khi hover */
        }
