@{
    ViewBag.Title = "QuanTri";
    Layout = "~/Views/Shared/_LayoutQT.cshtml";
}

<div class="bg-white p-4 rounded-3 shadow-sm">

    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">

        <img src="~/Content/Anh/logo/chuamua.png" alt="Logo Công ty" style="max-width: 250px; opacity: 0.8;" class="mb-3" />
    </div>
</div>